{% extends 'portfolio_app/base.html'%} {% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
{% load static %}
    <link rel="stylesheet" href="{% static 'portfolio_app/custom.css' %}">
<div class="row justify-content-center my-3">
    <div class="col-7">
        <h1 class="text-center">Etrit's portfolio</h1>
        <h5 class="m-2">About me:
            <h6 class="m-2"><span>I am a prospective Python developer; also possessing knowledge in Javascript. I am ready to learn
                several frameworks and eventually become a skilled software developer. 
            My hobbies include endurance running and reading fiction & philosophy, and I boast a strong affinity for mathematics and linguistics.</span>
            </h6>
        </h5>
    </div>
</div>
<br>
<br>
<div class="row justify-content-left m-2 my-3">
    <div class="col-8">
        <h6>Check out some of my work below, all of it done with the purpose of learning and then honing my knowledge:</h6>
    </div>
</div>


{% for project in projects%}
<div class="m-4"><h2>{{project.title}}</h2>
    <p>{{project.description}}</p>
    
    {% if project.url %}<br />
    <a href="{{project.url}}"><img id="image-hover-zoom" src="{{project.image.url}}" /></a> <br />
    </br></div>

{% endif %} {% endfor %} {% endblock %}
